name: podman-build-main

on:
  push:
    branches:
      - main
    paths:
      - init.sh
      - wg-quick
      - Dockerfile**
      - .github/workflows/**
  workflow_dispatch:
    
jobs:
  multi-arch-push:

    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: tswg
      REGISTRY: ghcr.io/${{ github.actor }}
      STORAGE_DRIVER: vfs

    strategy:
      matrix:
        include:
          - versionsuffix: ""
            containerfile: Dockerfile
          - versionsuffix: -minimal
            containerfile: Dockerfile.minimal

    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Buildah build image (amd64)
        id: build-image-amd64
        uses: redhat-actions/buildah-build@v2
        with:
          oci: true
          platforms: linux/amd64
          image: ${{ env.IMAGE_NAME }}
          tags: main${{ matrix.versionsuffix }}-amd64
          containerfiles: ${{ matrix.containerfile }}

      - name: Buildah build image (arm64)
        id: build-image-arm64
        uses: redhat-actions/buildah-build@v2
        with:
          oci: true
          platforms: linux/arm64
          image: ${{ env.IMAGE_NAME }}
          tags: main${{ matrix.versionsuffix }}-arm64
          containerfiles: ${{ matrix.containerfile }}

      - name: Combine manifests
        run: |
          buildah manifest create ${{ env.MANIFEST_NAME }}
          buildah manifest add ${{ env.MANIFEST_NAME }} ${{ env.MANIFEST_NAME }}-amd64
          buildah manifest add ${{ env.MANIFEST_NAME }} ${{ env.MANIFEST_NAME }}-arm64
        env:
          MANIFEST_NAME: ${{ env.IMAGE_NAME }}:main${{ matrix.versionsuffix }}

      - name: Push to registry (manifest)
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: main${{ matrix.versionsuffix }}
          registry: ${{ env.REGISTRY }}        
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}

      - name: Push to registry (single platforms)
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ steps.build-image-amd64.outputs.tags }} ${{ steps.build-image-arm64.outputs.tags }}
          registry: ${{ env.REGISTRY }}        
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}

